body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1em;
}
#map {
    height: 700px;
    overflow: visible;
}
.list {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 30%;
}
ul {
    list-style-type: none;
    display: block;
}
button {
    width: 100%;
    line-height: 1.5em;
    text-align: center;
    font-size: .5em;
    color: black;
    border: solid 1px black;
    background-color: rgba(89, 165, 89, 0.7);
}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0, 0, 0);
    z-index: 99;
}
.responsive-menu {
    display: none;
}
.expand {
    display: block !important;
}
@media screen and (min-width: 600px) {
    .responsive-menu {
        display: block;
    }
    button{
        font-size: 1em;
    }
    .menu-btn div {
        display: none;
    }
    .menu-btn span {
        display: none;
    }
}